<?xml version="1.0" encoding="UTF-8"?>
<suite name="Cakap Automation">
    <test name="Cakap Automation Web">
        <parameter name="browser" value="chrome"/>
        <parameter name="featurePath" value="src/test/java/com/selenium/features/web"/>
        <classes>
            <class name="com.selenium.common.TestRunner"/>
        </classes>
    </test>
    <!-- <test name="Cakap Automation Mobile">
        <parameter name="browser" value="edge"/>
        <parameter name="featurePath" value="src/test/java/com/selenium/features/mobile"/>
        <classes>
            <class name="com.selenium.common.TestRunner"/>
        </classes>
    </test> -->
</suite>